apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: spring-template-starter
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: spring-template-starter
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
